In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import ast
movies = pd.read_csv("tmdb_5000_movies.csv")
credits = pd.read_csv("tmdb_5000_credits.csv")

In [3]:
movies.head(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800

In [4]:
credits.head(1)
credits.rename(columns={'movie_id':'id'},inplace=True)

In [5]:
movies = movies.merge(credits,on="id")
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title_x               4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  title_y               4803 non-null   object
 21  cast                  4803 non-null   object
 22  crew                  4803 non-null   object
dtypes: float64(3), int64(4), object(16)
memory usage: 863.2+ KB

In [6]:
# movies.drop(columns=['budget','homepage','original_language','original_title','popularity','production_companies','production_countries','revenue','release_date','runtime','spoken_languages','status','tagline','title_y','vote_average','vote_count'])
movies=movies[['id','title_x','genres','keywords','overview','cast','crew']]

movies.rename(columns={'id':'movie_id','title_x':'Title','cast_x':'cast','crew_x':'crew'},inplace=True)
movies.head(1)

,movie_id,Title,genres,keywords,overview,cast,crew
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [7]:

movies.dropna(inplace=True)
movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

In [8]:
def convert(test):
    res = []
    for i in ast.literal_eval(test):
        res.append(i['name'])
    return res

In [9]:
movies['genres']=movies['genres'].apply(convert)

In [10]:
movies['keywords']= movies['keywords'].apply(convert)

In [11]:
def top_3(TEST):
    res =[]
    count =0
    for i in ast.literal_eval(TEST):
        if count!=3:
            res.append(i['name'])
            count+=1
        else:
            break
    return res

In [12]:
movies['cast']=movies['cast'].apply(top_3)

In [13]:
def dir(TEST):
    res =[]
    count =0
    for i in ast.literal_eval(TEST):
        if i['job']=='Director':
            res.append(i['name'])
            break
    return res

In [14]:
movies['crew']=movies['crew'].apply(dir)

In [15]:
movies['overview']=movies['overview'].apply(lambda x:x.split())
movies.rename(columns={'crew':'Director'},inplace =True)

In [16]:
movies.head(5)

,movie_id,Title,genres,keywords,overview,cast,Director
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[In, the, 22nd, century,, a, paraplegic, Marin...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Captain, Barbossa,, long, believed, to, be, d...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[A, cryptic, message, from, Bond’s, past, send...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Following, the, death, of, District, Attorney...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[John, Carter, is, a, war-weary,, former, mili...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [17]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","_")for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","_")for i in x])
movies['Director']=movies['Director'].apply(lambda x:[i.replace(" ","_")for i in x])
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","_")for i in x])

In [18]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['Director']

In [19]:
movies

,movie_id,Title,genres,keywords,overview,cast,Director,tags
0,19995,Avatar,"[Action, Adventure, Fantasy, Science_Fiction]","[culture_clash, future, space_war, space_colon...","[In, the, 22nd, century,, a, paraplegic, Marin...","[Sam_Worthington, Zoe_Saldana, Sigourney_Weaver]",[James_Cameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]","[ocean, drug_abuse, exotic_island, east_india_...","[Captain, Barbossa,, long, believed, to, be, d...","[Johnny_Depp, Orlando_Bloom, Keira_Knightley]",[Gore_Verbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[Action, Adventure, Crime]","[spy, based_on_novel, secret_agent, sequel, mi...","[A, cryptic, message, from, Bond’s, past, send...","[Daniel_Craig, Christoph_Waltz, Léa_Seydoux]",[Sam_Mendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]","[dc_comics, crime_fighter, terrorist, secret_i...","[Following, the, death, of, District, Attorney...","[Christian_Bale, Michael_Caine, Gary_Oldman]",[Christopher_Nolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[Action, Adventure, Science_Fiction]","[based_on_novel, mars, medallion, space_travel...","[John, Carter, is, a, war-weary,, former, mili...","[Taylor_Kitsch, Lynn_Collins, Samantha_Morton]",[Andrew_Stanton],"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...,...,...,...,...,...
4798,9367,El Mariachi,"[Action, Crime, Thriller]","[united_states–mexico_barrier, legs, arms, pap...","[El, Mariachi, just, wants, to, play, his, gui...","[Carlos_Gallardo, Jaime_de_Hoyos, Peter_Marqua...",[Robert_Rodriguez],"[El, Mariachi, just, wants, to, play, his, gui..."
4799,72766,Newlyweds,"[Comedy, Romance]",[],"[A, newlywed, couple's, honeymoon, is, upended...","[Edward_Burns, Kerry_Bishé, Marsha_Dietlein]",[Edward_Burns],"[A, newlywed, couple's, honeymoon, is, upended..."
4800,231617,"Signed, Sealed, Delivered","[Comedy, Drama, Romance, TV_Movie]","[date, love_at_first_sight, narration, investi...","[""Signed,, Sealed,, Delivered"", introduces, a,...","[Eric_Mabius, Kristin_Booth, Crystal_Lowe]",[Scott_Smith],"[""Signed,, Sealed,, Delivered"", introduces, a,..."
4801,126186,Shanghai Calling,[],[],"[When, ambitious, New, York, attorney, Sam, is...","[Daniel_Henney, Eliza_Coupe, Bill_Paxton]",[Daniel_Hsia],"[When, ambitious, New, York, attorney, Sam, is..."
4802,25975,My Date with Drew,[Documentary],"[obsession, camcorder, crush, dream_girl]","[Ever, since, the, second, grade, when, he, fi...","[Drew_Barrymore, Brian_Herzlinger, Corey_Feldman]",[Brian_Herzlinger],"[Ever, since, the, second, grade, when, he, fi..."

In [20]:
processed_df = movies[['movie_id','Title','tags']]
processed_df

,movie_id,Title,tags
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."
...,...,...,...
4798,9367,El Mariachi,"[El, Mariachi, just, wants, to, play, his, gui..."
4799,72766,Newlyweds,"[A, newlywed, couple's, honeymoon, is, upended..."
4800,231617,"Signed, Sealed, Delivered","[""Signed,, Sealed,, Delivered"", introduces, a,..."
4801,126186,Shanghai Calling,"[When, ambitious, New, York, attorney, Sam, is..."
4802,25975,My Date with Drew,"[Ever, since, the, second, grade, when, he, fi..."

In [21]:
processed_df['tags']=processed_df['tags'].apply(lambda x:" ".join(x))
processed_df

C:\Users\1234s\AppData\Local\Temp\ipykernel_14524\3620222436.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  processed_df['tags']=processed_df['tags'].apply(lambda x:" ".join(x))

,movie_id,Title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."
...,...,...,...
4798,9367,El Mariachi,El Mariachi just wants to play his guitar and ...
4799,72766,Newlyweds,A newlywed couple's honeymoon is upended by th...
4800,231617,"Signed, Sealed, Delivered","""Signed, Sealed, Delivered"" introduces a dedic..."
4801,126186,Shanghai Calling,When ambitious New York attorney Sam is sent t...
4802,25975,My Date with Drew,Ever since the second grade when he first saw ...

In [22]:
processed_df['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy Science_Fiction culture_clash future space_war space_colony society space_travel futuristic romance space alien tribe alien_planet cgi marine soldier battle love_affair anti_war power_relations mind_and_soul 3d Sam_Worthington Zoe_Saldana Sigourney_Weaver James_Cameron'

In [23]:
processed_df['tags']=processed_df['tags'].apply(lambda x: x.lower())

C:\Users\1234s\AppData\Local\Temp\ipykernel_14524\2360845416.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  processed_df['tags']=processed_df['tags'].apply(lambda x: x.lower())

In [24]:
processed_df.head()

,movie_id,Title,tags
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

In [25]:
import nltk
from nltk.stem.porter import PorterStemmer
PS =PorterStemmer()

In [26]:
def stem(text):
    y= []
    for i in text.split():
        y.append(PS.stem(i))
    return " ".join(y)

In [27]:
processed_df['tags']= processed_df['tags'].apply(stem)

C:\Users\1234s\AppData\Local\Temp\ipykernel_14524\3816410631.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  processed_df['tags']= processed_df['tags'].apply(stem)

In [28]:
from sklearn.feature_extraction.text import CountVectorizer
CV = CountVectorizer(max_features=5000, stop_words='english')

In [29]:
vectors = CV.fit_transform(processed_df['tags']).toarray()

In [30]:
CV.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooey_deschanel'],
      shape=(5000,), dtype=object)

In [31]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(vectors)
similarity[4799]

array([0.        , 0.02615329, 0.        , ..., 0.04229549, 0.08714204,
       1.        ], shape=(4800,))

In [32]:
def recommend(movie):
    movie_index = processed_df[processed_df['Title']==movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse= True,key= lambda x:x[1])[1:6]
    for i in  movies_list:
        print(processed_df.iloc[i[0]].Title)

In [33]:
recommend('Batman Begins')

The Dark Knight
Batman
The Dark Knight Rises
10th & Wolf
Rockaway

In [37]:
import pickle
pickle.dump(processed_df ,open('movies.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))